<section class="hero">
    <h2>Bienvenue sur Mon Application de Notes !</h2>
    <p>Organisez vos idées, suivez vos tâches et gardez vos pensées bien rangées.</p>

    <div class="cta-buttons">
        <a routerLink="/notes" class="cta-button">Créer une première note</a>
        <a routerLink="/tags" class="cta-button secondary">Créer un premier tag</a>
      </div>
      

  <mat-list>
    <mat-list-item>
      <mat-icon matListIcon>edit</mat-icon>
      Créez et modifiez vos notes en toute simplicité
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>label</mat-icon>
      Classez vos notes avec des tags personnalisés
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>search</mat-icon>
      Retrouver rapidement une note grâce à la recherche
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>cloud</mat-icon>
      Accédez à vos notes partout, à tout moment
    </mat-list-item>
  </mat-list>
  