<section class="hero">
    <h2>Bienvenue sur Mon Application de Notes !</h2>
    <p>Organisez vos idées, suivez vos tâches et gardez vos pensées bien rangées.</p>
   <!-- <a routerLink="/notes" class="cta-button">Créer une première note</a>
    <a routerLink="/tags" class="cta-button">Créer un premier tag</a> -->

    <div class="cta-buttons">
        <a routerLink="/notes" class="cta-button">Créer une première note</a>
        <a routerLink="/tags" class="cta-button secondary">Créer un premier tag</a>
      </div>
      

  <!--
  <section class="features">
    <h3>Pourquoi utiliser cette application ?</h3>
    <ul>
      <li>📝 Créez et modifiez vos notes en toute simplicité</li>
      <li>🏷️ Classez vos notes avec des tags personnalisés</li>
      <li>🔍 Retrouver rapidement une note grâce à la recherche</li>
      <li>☁️ Accédez à vos notes partout, à tout moment</li>
    </ul>
  </section> -->
  

  <mat-list>
    <mat-list-item>
      <mat-icon matListIcon>edit</mat-icon>
      Créez et modifiez vos notes en toute simplicité
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>label</mat-icon>
      Classez vos notes avec des tags personnalisés
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>search</mat-icon>
      Retrouver rapidement une note grâce à la recherche
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>cloud</mat-icon>
      Accédez à vos notes partout, à tout moment
    </mat-list-item>
  </mat-list>
  